*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.services{
    background-color: crimson;
   height: 900px;
    padding: 50px 30px 30px;
    text-align: center;
}
h1{
    font-size: 35px;
    color: rgb(198, 187, 187);
}
h2,h3,h4,h5,h6{
    color:blanchedalmond ;
    font-family: "Pacifico", cursive;
}
.main{
   
    background-image: url(../photo/sec1.jpg);
    background-repeat: no-repeat;
background-size: cover;
    padding: 100px 100px 40px;
  text-align: center;
  margin: 20px 10px;
}

 i{
    font-size: 30px;
    color: rgb(28, 198, 190);
    margin: 20px;
}
p{
    font-family: "Playwrite CU", cursive;
}

.devloper{
    display:inline-block;
    background-color: rgb(33, 8, 109);
    height: 225px;
    width: 300px;
    text-align: center;
    border: 1px solid rgb(170, 167, 167);
    border-style:inherit ;
    margin:  0 40px 60px 0;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: rgb(241, 11, 11);

}

