*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box{
    width: 100%;
    height: 100vh;
    background-color: burlywood;
   
  
}
.in1{
    width: 50%;
    height: 100vh;
    background-color: brown;
    float: left;
    position: relative;

}
.ino{
    width: 250px;
    height: 150px;
    position: absolute;
    right:180px;
    bottom: 320px;
    z-index: 1;
}
.ino img{
    width: 100%;
    height: 100%;
}
.ino1 button{
    width: 300px;
    height:45px;
    padding: 10px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 30px;
    background-color: rgb(245, 135, 10);
    color: rgb(7, 55, 69);
    position: absolute;
    bottom: 200px;
    right: -150px;
}
.in2{
    width: 50%;
    height: 100vh;
    float: right;
    font-size: 20PX;
    text-align: center;
    padding: 100px;
    color: crimson;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.in2 h2{
    padding: 30px;
    color: crimson;
}
.clr{
    clear: both;

}
